<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<meta name="author" content="Mylena G., Gustavo L. e Ana C.">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=width-device, initial-scale=1.0">
<head>
    <meta charset="UTF-8">
    <title>LTDA DIGITAL.</title>
</head>
<body>
<h1> LTDA DIGITAL</h1>
<br>
<h2>Objetivo do projeto:</h2>
<p> Com base nas aulas criamos uma simples demonstração de um Website com persistência de dados(MySql).</p>

<p>Como funciona:</p>
<p>Criamos 3 rotas demonstrativas, onde a última rota(dados) vai guardar os dados do usuário ao concluir a compra.</p>
<br>
<h3>Nome:</h3>
<p>Ana Caroline Castro dos Santos</p>
<p>Gustavo Leal</p>
<p>Mylena da Silva Gama</p>
<br>

<div class="btns">
    <a href="produtos"><input type="button" value="Produtos"></a>
    <a href="carrinho"><input type="button" value=" Carrinho"></a>
</div>

</body>
</html>