<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<meta name="author" content="Mylena G., Gustavo L. e Ana C.">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=width-device, initial-scale=1.0">
<head>
    <meta charset="UTF-8">
    <title>LTDA DIGITAL.</title>
</head>
<body>
    <h1>Produtos com até 50% de desconto, venha aproveitar!</h1>
    <br>
<h2>Ipad</h2>
<img src="../static/img1.webp" alt="Ipad" width="275" height="183">
<br>
<h3>Iphone 13</h3>
<img src="../static/img2.webp" alt="Iphone" width="275" height="183">
<br>
<h4>Carregador</h4>
<img src="../static/img3.jpg" alt="Carregador" width="275" height="183">
<br>
    <a href="/"><input type="button" value="Voltar"></a>
</body>
</html>